<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>

    <div class="">
      <a href="/">Gabble</a>
      <a href="/newGab">Create a new Gab</a>
      <a href="#">Logged in as LALLALA</a>
      <a href="/logout">Log Out</a>
    </div>

    <h2>{{testmessage}}</h2>

    <h1>Testing</h1>

    <div class="posts">
      {{#posts}}
        {{title}}
        {{body}}
      {{/posts}}
    </div>

  </body>
</html>
