<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/register.css">
    <title>Login Page</title>
  </head>
  <body>

    <div class="">
      <a href="/">Gabble</a>
    </div>

    <h1>Please register below</h1>

    <h2>{{errorMessage}}</h2>

    <form class="registerForm" action="/register" method="post">

      <label for="">Username:</label>
      <div class="usernameDiv">
        <input id="usernameInput" type="text" name="username" value="">
      </div>

      <label for="">Password:</label>
      <div class="passwordDiv">
        <input id="passwordInput" type="password" name="password" value="">
      </div>

      <label for="">Display Name:</label>
      <div class="displayNameDiv">
        <input id="displayNameInput" type="text" name="displayName" value="">
      </div>

      <div class="submitButtonDiv">
        <button id="submitButton"type="submit" name="button">Submit</button>
      </div>

    </form>

  </body>
</html>
